/*----------Botones----------*/
.boton_pago{
    margin: 0px 2% 0px 0px;
    height: 33px;
    width: 185px;
    border: solid 1px #707070;
    border-radius: 50px;
    transition: all 0.5s ease-in-out;
}
.boton_pago:hover{
    background-color: #00496C;
    transition: all 0.5s ease-in-out;
}
.boton_pago p{
    margin: 0px;
    padding: 5px;
    text-align: center;
    color: #5F5F5F;
}
.boton_pago:hover p{
    color: white;
    transition: all 0.5s ease-in-out;
}

.boton_pago_select_reinscripcion{
    border-radius: 50px;
    background-color: #00496C; 
    width: 185px;
    height: 33px;
}
.boton_pago_select_reinscripcion p{
    margin: 0px;
    padding: 5px;
    text-align: center;
    color: white;
}

.boton_examinar_re{
    margin: 47px 25px;
    padding: 0 15% 0;
    font-size: 14px;
    height: 50px;
    width: 160px !important;
    background-color: #A80938;
    border: solid 1px #707070;
    border-radius: 50px;
    font-family: 'Montserrat';
}
.boton_examinar_re p{
    margin: 15px;
    text-align: center;
    color: white;
}
.posicion_clip{
    margin-top: 15px;
    margin-left: -75px;
}
.posicion_texto{
    margin-top: -35px;
    margin-left: 20px;
}
.fas{
    color: white;
}

.boton_enviar{
    margin: 0 25px 50px;
    font-size: 15px;
    font-weight: bold;
    height: 50px;
    width: 214px;
    background-color: #A80938;
    border: solid 1px #707070;
    border-radius: 50px;
    font-family: 'Montserrat';
}
.boton_enviar p{
    margin: 0;
    text-align: center;
    color: white;
}
/*----------Fin Botones----------*/



/*----------Box----------*/
.box_reinscripcion_fechas{
    width: 380px;
    padding: 10px 10px;
    margin: 20px;
    background-color: #00496C;
    /* border: solid 1px #707070; */
    color: white;
}

.box_reinscripcion_costos{
    width: 380px;
    padding: 10px 10px;
    margin: 20px;
    background-color: #00496C;
    /* border: solid 1px #707070; */
    color: white;
}

.box_reinscripcion_iconos_1{
    padding: 0;
}

.box_reinscripcion_persona_1{
    padding: 10% 35px;
    float: left;
}

.box_reinscripcion_persona_2{
    padding: 10% 43px;
    float: left;
}

.box_reinscripcion_persona_3{
    padding: 10% 42px;
    float: left;
}

.box_reinscripcion_linea_1{
    padding: 10% 25px;
    float: left;
}

.box_reinscripcion_linea_2{
    padding: 10% 48px;
    float: left;
}

.box_reinscripcion_1{
    width: 450px;
    padding: 0px 20px;
    margin: 20px;
}

.box_reinscripcion_2{
    width: 450px;
    padding: 0px 20px;
    margin: 20px;
}

.box_reinscripcion_3{
    width: 23%;
    padding: 0px 0px;
    margin: 20px;
    line-height: 20px;
}

.box_reinscripcion_4{
    width: 22.8%;
    padding: 0px 0px;
    margin: 20px;
    line-height: 20px;
    margin-left: 50px;
}

.box_reinscripcion_5{
    width: 305px;
    padding: 0px 0px;
    margin: 20px;
    line-height: 20px;
    margin-left: 50px;
}

.box_reinscripcion_6{
    width: 360px;
    padding: 0px 0px;
    margin: 20px 150px 20px 20px;
    line-height: 20px;
}

.box_reinscripcion_7{
    width: 445px;
    padding: 0px 0px;
    margin: 20px -89px 20px 0px;
    line-height: 20px;
}
/*----------Fin Box----------*/



/*----------Flex----------*/
.flex_padre_mueve{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.flex_padre_reinscripcion{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
/*----------Fin Flex----------*/



/*----------Formularios----------*/
.select-formulario > div > input {
    padding: 0px 19px !important;
    width: calc(100% - 38px) !important;
    font-size: 14px !important;
    color: #5F5F5F !important;
    border: solid 1px #707070 !important;
    border-radius: 50px !important;
}

.formulario{
    border: solid 1px #707070 !important;
    border-radius: 50px !important;
}
.formulario::placeholder {
    padding-left: 20px;
    font-size: 14px;
    font-style: italic;
    color: #5F5F5F;
}

.text_examinar{
    width: 100%;
    height: 50px;
    margin: 50px 25px;
}

.input_documentos{
    border: solid 1px #707070 !important;
    border-radius: 50px !important;
}
.input_documentos::placeholder{
    padding-left: 20px;
    font-size: 14px;
    font-style: medium italic;
    color: #A5A5A5;
}
/*----------Fin Formularios----------*/



/*----------Fondos----------*/
.fondo_reinscripcion{
    background-color: rgb(244, 244, 244);
    padding: 15px 0px 0px;
}

.fondo_reinscripcion_2{
    background-color: rgb(244, 244, 244);
    padding: 10px 0;
}
/*----------Fin Fondos----------*/



/*----------Imagenes----------*/
.imagen_contactos{
    width: 100%;
}

.imagen_titulacion{
    width: 50px;
    height: 50px;
    padding: 0px 0%;
}

.imagen_reinscripcion_bancos{
    width: 200px;
    margin-bottom: -25px; 
}
/*----------Fin Imagenes----------*/



/*----------Titulos y textos----------*/

.d2_titulo_3{
    font-size: 30px;
    font-family: 'Caav';
}

.d2_titulo_4{
    font-size: 40px;
    font-family: 'Caav';
}

.d2_titulo_iconos{
    font-size: 16px;
}

.titulo_reinscripcion_fechas_costos{
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
}

.texto_reinscripcion_1{
    text-align: center;
    font-size: 14px;
}

.texto_reinscripcion_fechas_costos{
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    margin-top: 0;  
}

/* .d2_texto_iconos{
    font-size: 17px;
} */

.texto_reinscripcion_bancos_2{
    line-height: 30px;
    padding: 0 3%;
}

.texto_aspirante_nota{
    width: 100%;
    padding: 0px 2%;
    font-size: 14px;
}

.texto_aspirantes_documentos{
    width: 100%;
    padding: 1% 2%;
    font-size: 14px;
}
/*----------Fin Titulos y textos----------*/

.verif_false{
    margin: -4% 0% 0% 25%;
}


.contenedor_reinscripcion_4{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.caja_reinscripcion_1{
    width: 261px;
}
.caja_reinscripcion_2{
    width: 257px;
}
.caja_reinscripcion_3{
    width: 250px;
}
.caja_reinscripcion_4{
    width: 282px;
}
.caja_reinscripcion_5{
    width: 237px;
}
.caja_reinscripcion_6{
    width: 258px;
}
.caja_reinscripcion_7{
    width: 381px;
}

/* .hijo_1_reinscripcion{
    width: 50%;
} */

@media only screen and (min-width:200px) and (max-width:550px){ /*----------Móvil----------*/
    .contenedor_movil_chico_re{
        width: 69%;
    }

    .padding_movil_re_1{
        padding: 10px 25px !important;
    }

    .flex_movil{
        display: flex;
        justify-content: center;
    }

    /*----------Botones----------*/
    .boton_examinar_re{
        width: 183px;
        margin-top: 50px;
    }
    .boton_examinar_re i{
        margin-left: 35px;
    }
    .posicion_clip{
        margin-left: -115px;
    }
    .posicion_texto{
        margin-left: 5px;
    }
    
    .boton_pago{
        margin-top: 4%;
        width: 100%;
        height: 52px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .boton_pago_select_reinscripcion{
        width: 116px;
        height: 52px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /*----------Fin Botones----------*/
    


    /*----------Box----------*/
    .box_reinscripcion_fechas{
        width: 80%;
        margin: 0px;
    }

    .box_reinscripcion_costos{
        width: 80%;
        margin: 20px;
    }

    .box_reinscripcion_persona_1{
        padding: 0 37px;
        text-align: center;
        margin-top: 10px;
    }

    .box_reinscripcion_persona_2{
        padding: 0 40px;
        text-align: center;
        margin-top: 10px;
    }

    .box_reinscripcion_persona_3{
        text-align: center;
        margin-top: 10px;
    }

    .box_reinscripcion_linea_1{
        text-align: center;
        margin-top: 10px;
    }

    .box_reinscripcion_linea_2{
        text-align: center;
        padding: 0px;
        justify-content: center;
        width: 100%;
    }

    .box_reinscripcion_1{
        width: 314px;
        padding: 0px 18px;
        margin: 20px;
    }

    .box_reinscripcion_2{
        width: 314px;
        padding: 0px 14px;
        margin: 20px;
    }

    
    .box_reinscripcion_3{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        padding: 0px 0px;
        margin: 0px;
        margin-bottom: 0;
        text-align: center;
        line-height: 15px;
    }

    
    .box_reinscripcion_4{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        padding: 0px 10px;
        margin: 0px;
        margin-bottom: 0;
        text-align: center;
        line-height: 15px;
    }

    
    .box_reinscripcion_5{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        padding: 0px 8px;
        margin: 0px;
        text-align: center;
        line-height: 15px;
    }

    .box_reinscripcion_6{
        width: 100%;
        padding: 0px 0px;
        margin: 20px;
        text-align: center;
        line-height: 15px;
    }

    .box_reinscripcion_7{
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 0px 23px;
        margin: 0 20px;
        text-align: center;
        line-height: 15px;
    }
    /*----------Fin Box----------*/



    /*----------Contenedores----------*/
    .contenedor_reinscripcion_alumnos_irregulares{
        padding: 0 43px;
    }

    .contenedor_texto_reinscripcion_1{
        padding: 0 50px;
    }

    .contenedor_texto_reinscripcion_2{
        width: 181px;
    }

    .contenedor_reinscripcion_formulario{
        width: 310px;
    }

    .caja_reinscripcion_7{
        width: 260px;
    }
    /*----------Fin Contenedores----------*/



    /*----------Flex----------*/
    .flex_padre_mueve{
        margin-top: -20px;
    }

    /* .centrar_movil{
        display: flex;
        justify-content: center;
        align-items: center;
    } */
    /*----------Fin Flex----------*/



    /*----------Formularios----------*/
    .text_examinar{
        display: none;
    }
    /*----------Fin Formularios----------*/



    /*----------Fondos----------*/
    .fondo_reinscripcion{
        padding: 15px 0px 0px;
    }
    /*----------Fin Fondos----------*/



    /*----------Imagenes----------*/
    .imagen_titulacion{
        width: 37px;
        height: 37px;
    }

    .imagen_reinscripcion_bancos{
        width: 140px; 
        text-align: center;
    }
    /*----------Fin Imagenes----------*/
    


    /*----------Titulos y textos----------*/

    .d2_titulo_3{
        font-size: 22px;
        margin-top: 0;
    }

    .d2_titulo_4{
        font-size: 22px;
    }

    .d2_titulo_iconos{
        font-size: 11px;
        font-weight: bold;
    }

    .titulo_reinscripcion_fechas_costos{
        font-size: 10px;
    }

    .texto_reinscripcion_1{
        width: 260px;
        font-size: 10px;
        padding: 0 33px;
    }

    .texto_reinscripcion_fechas_costos{
        font-size: 10px;
    }

    .d2_texto_iconos{
        font-size: 10px;
    }

    .texto_reinscripcion_bancos_2{
        padding: 0;
        text-align: center;
        margin-top: 0;
    }

    .texto_aspirante_nota{
        font-size: 10px;
        text-align: center;
        padding: 0px 35px;
        font-style: italic;
    }

    .texto_aspirantes_documentos{
        padding: 0px 55px;
        font-size: 10px;
        text-align: center;
        font-style: italic;
    }
    /*----------Fin Titulos y textos----------*/



    
    .espaciado_reinscripcion_1{
        padding: 0 67px;
    }
    
    .espaciado_reinscripcion_2{
        padding: 0 90px;
    }

    .tamaño_select{
        padding: 0 45px;
    }

    .verificacion_form{
        display: none;
    }
}

@media only screen and (min-width:551px) and (max-width:850px){ /*----------Tablet----------*/
    .contenedor_reinscripcion_formulario{
        width: 500px;
    }

    .boton_examinar_re{
        width: 175px;
    }
    .boton_examinar_re i{
        margin-left: 30px;
    }
    
    .box_reinscripcion_1{
        width: 60%;
        padding: 10px 10px;
        margin: 20px;
    }

    .box_reinscripcion_2{
        width: 60%;
        padding: 10px 10px;
        margin: 20px;
    }
    
    .contenedor_reinscripcion{
        padding: 0px 55px;
    }

    .text_examinar{
        width: 100%;
    }

    .verif_false{
        margin: -6% 0% 0% 35%;
    }
}

@media only screen and (min-width:851px) and  (max-width:1664px){ /*----------Pantalla chica----------*/
    /* .contenedor_reinscripcion{
        width: 1029px;
    } */
    .contenedor_reinscripcion_formulario{
        width: 800px;
    }

    .padding_escritorio{
        padding-left: 50%;
    }
}

@media only screen and (min-width:1665px) { /*----------Pantalla grande----------*/
    /* .contenedor_reinscripcion{
        width: 1245px;
    } */

    .contenedor_reinscripcion_2{
        padding: 0px 20%;
    }

    .contenedor_reinscripcion_3{
        padding: 0px 5%;
    }

    .contenedor_reinscripcion_alumnos_irregulares{
        width: 1245px; 
    }

    .contenedor_reinscripcion_formulario{
        width: 900px;
    }

    .contenedor_reinscripcion_pagos{
        padding: 0 48% 0 0%
    }

    .padding_escritorio{
        padding-left: 50%;
    }
}