/* inicio - contenedores */

.contenedor_2{
    padding: 5px 10%;
}

.contenedor_3_blog{
    padding: 5px 15%;
}

.blog_2 p{
    font-size: 15px !important;
}
/* fin - contenedores */


/* inicio - textos */
.titulo_1{
    font-size: 30px;
    font-family: 'Caav';
}

.titulo_7{
    font-size: 70px;
    color: black;
    font-family: 'Caav';
}
/* fin */

/* inicio - fondos */
.fondo_1{
    background-color: rgb(244, 244, 244);
    padding: 40px 0% 40px;
}
/* fin - fondos */

/* inicio - display */
.invisible_movil{
    display: block;
}

.invisible{
    display: none;
}
/* fin - diplay */

/* inicio - carrusel */
.carousel.carousel-slider.carrusel_blog .carousel-item{
    min-height: 400px;
}
  
.carousel.carousel-slider.carrusel_blog{
    height: 400px !important;
}

.imagen_carrusel_blog{
    width: 100% !important;
    padding:  0px 10% 10%;
}
/* fin - carrusel */

@media only screen and (min-width:200px) and (max-width:550px){
    .contenedor_1{
        padding: 0px !important;
    }

    /* inicio - fondos */
    .fondo_1{
        padding: 10px 0%;
    }
    /* fin - fondos */

    /* inicio - contenedores */
    .contenedor_2{
        padding: 5px 0px 0%;
    }
    /* fin - contenedores */

    /* inicio - display */
    .invisible{
        display: block;
    }
    
    .invisible_movil{
        display: none !important;
    }
    /* fin - diplay */

    /* inicio - textos */
    .titulo_7{
        font-size: 50px;
    }
    /* fin - textos */
}

@media only screen and (min-width:551px) and (max-width:850px){
    .contenedor_1{
        padding: 0px !important;
    }

    /* inicio - textos */
    .titulo_7{
        font-size: 50px;
    }
    /* fin - textos */
}

@media only screen and (min-width:851px) and  (max-width:1664px){
    .contenedor_1{
        padding: 0px 15%;
    }
}

@media only screen and (min-width:1665px) {
    .contenedor_1{
        padding: 0px 15%;
    }
}