/*----------Collapsible----------*/
.collapsible_propio{
    border: none;
    box-shadow: none;
}

.collapsible-header_propio{
    border: none;
    height: 45px;
}

.collapsible-body_propio{
    border: none;
    margin-left: 60px;
    margin-top: -50px;
}
 
.iconDown{
    display:inline-block;
}
li.active .collapsible-header_propio .material-icons.iconDown{
    display: none;
}

.iconUp{
    display:none !important;
}
li.active .collapsible-header_propio .material-icons.iconUp{
    display: inline-block !important;
}
/*----------Fin Collapsible----------*/



/*----------Contenedor----------*/
.contenedor_faqs{
    padding: 0px 28% 0px 19%;
}
/*----------Fin Contenedor----------*/



/*----------Texto y titulo----------*/
.d2_faqs_encabezado{
    font-size: 20px;
    font-weight: bold;
}

.texto_pregunta{
    font-size: 13px;
    color: #A80938;
    margin: 0;
}

.texto_respuesta{
    font-size: 13px;
    margin: 0;
}
/*----------Fin Texto y titulo----------*/

.titulo_preguntas_nv{
    font-size: 16px;
}



@media only screen and (min-width:200px) and (max-width:550px){ /*----------Móvil----------*/
    .titulo_preguntas_nv{
        font-size: 13px;
    }

    .contenedor_faqs{
        padding: 0px 8%;
    }

    .d2_faqs_encabezado{
        font-size: 15px;
        font-weight: normal;
        margin-left: -13px;
        font-weight: bold;
    }
}

@media only screen and (min-width:551px) and (max-width:850px){ /*----------Tablet----------*/
    .contenedor_faqs{
        padding: 0 6% 0 5%;
    }
}