body {
  margin: 0;
  font-family: 'Montserrat', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, -apple-system, BlinkMacSystemFont,;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button{
  cursor: pointer;
}

.login_input{
  border: solid 1px #a3a3a3 !important;
  border-radius: 25px !important;
  padding: 0 20px !important;
  width: calc(100% - 40px) !important;
}

.componente_editable_padre{
  background: #ffffff00;
  border: 5px solid #970D19 !important;
  padding-top: 30px;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}
.componente_editable_padre:hover{
  background: #970d1978;
  transition: all ease-in-out 0.3s;
}
.componente_editable_padre ul li div{
  background: #ffffff00;
}
.componente_editable_padre div div .box_reinscripcion_costos{
  background: #ffffff00 !important;
}

.componente_editable:hover{
  filter: brightness(0.5);
  transition: all ease-in-out 0.3s;
}

.componente_editable_2:hover{
  border: 1px solid #000000 !important;
  background: #00000042;
  filter: brightness(0.5);
  transition: all ease-in-out 0.3s;
}


/* inicio - efecto lateral editar */
.sombra{
  -webkit-box-shadow: 0px 1px 10px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 1px 10px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 1px 10px -1px rgba(0,0,0,0.75);
  background: #ffffff;
  border-radius: 25px;
  padding: 10px 20px;
}
.sombra::-webkit-scrollbar-thumb{
  background: #7c7c7c;
  border-radius: 10px;
}
.sombra::-webkit-scrollbar{
  width: 9px;
  border-radius: 10px;
  /* background: #d1d1d1; */
}
.sombra::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 20px; 
}

.sombra::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 20px;
}


@keyframes slide_1 {
  0% {
    left: -900px;
  }

  100% {
    left: 0px;
  }
}

.ventana_editable_desactivada{
  display: none;
  position: relative;
}

.ventana_editable{
  background: #efefef;
  animation: slide_1 0.5s linear;
}
.ventana_editable .hijo_fixed{
  top: 0px;
  margin-left: -8px !important;
  background: #efefef;
  background-image: url(./Images/fondo_admin_1.png);
  background-size: 100%;
  position: fixed;
  z-index: 11;
  height: 100vh;
  animation: slide_1 0.5s linear;
}

.invisible_cerrar_desactivado{
  width: 100%;
  cursor: pointer;
  top: 0;
}
.invisible_cerrar_activado{
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: #91919130;
  position: fixed;
  cursor: pointer;
  top: 0;
}
/* fin - efecto lateral editar */

/* inicio - botones */
.botonn_1_admin{
  display: flex;
  justify-content: center;
  align-items: center;
}
.botonn_1_admin button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0px;
  width: 170px;
  height: 35px;
  padding: 6px 27px;
  background-color: #00496C;
  border-radius: 50px;
  color: #ffffff;
  border: none;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  margin: 0%;
}

.botonn_2_admin{
  display: flex;
  justify-content: center;
  align-items: center;
}
.botonn_2_admin button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0px;
  width: 170px;
  height: 35px;
  padding: 6px 27px;
  background-color: #970D19 ;
  border-radius: 50px;
  color: #ffffff;
  border: none;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  margin: 0%;
}
/* fin - botones */


/* inicio - textos */
.titulo_1_admin{
  color: #00496C;
  font-family: 'Montserrat', Courier, monospace;
  font-size: 25px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* fin - textos */
