/* La tipografía Caav fue reemplazada */
body {
    margin: 0;
    font-family: 'Montserrat', 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
      font-size: 13px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
html{
    scroll-behavior: smooth;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

button{
  font-family: 'Montserrat' !important;
}

/* Montserrat-ExtraBold.otf */
@font-face {
    font-family: 'Montserrat';
    src: url('./Font/Montserrat.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
  font-family: 'Montserrat-Bold';
  src: url('./Font/Montserrat-ExtraBold.otf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Caav';
  src: url('./Font/KaushanScript-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
    font-family: 'noodle';
    src: url('./Font/big_noodle_titling.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
  @font-face {
    font-family: 'Jost';
    src: url('./Font/Jost-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

/* textos - inicios */
.d3_titulo_1_monserrat{
  font-size: 20px;
  font-family: 'Montserrat';
  line-height: 33px;
}

.d2_titulo_1{
  font-size: 55px;
  font-family: 'Caav';
  margin: 10px 0px;
}

.collapsible-header{
  padding: 0px;
}

.titulo_9{
  font-size: 55px;
  color: black;
  font-family: 'Caav'; 
}

.titulo_10{
  font-size: 20px;
}
.d3_licenciatura{
  font-size: 60px;
  font-family: 'Caav';
  margin: 25px 0px;
}
.d3_licenciatura_2{
  font-size: 30px;
  font-family: 'Caav';
  margin-top: 20px;
  margin-bottom: 0px;
}

.d3_licenciatura_sub{
  font-size: 32px;
  color: #707070;
  width: 820px;
  line-height: 40px;
}

.d3_licenciatura_sub_black{
  font-size: 15px;
  font-weight: bold;
}



.texto_licenciatura_campo_trabajo_1{
  width: 752px;
  font-size: 14px;
}

.texto_licenciatura_campo_trabajo_2{
  width: 435px;
  font-size: 14px;
}
.texto_licenciatura_campo_trabajo_3{
  width: 370px;
  font-size: 14px;
}

.texto_lic_1{
  font-size: 15px;
  font-weight: bold;
}

.texto_lic_3{
  font-size: 15px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 0px;
}

.texto_lic_4{
  font-size: 17px;
  font-weight: bold;
}

.texto_lic_6{
  font-size: 30px;
  font-family: 'Caav';
}

.texto_lic_7{
  font-weight: bold;
  padding-bottom: 0px;
  margin: 0px;
  padding-top: 0px;
  font-size: 15px;
}

.texto_lic_9 > p {
  margin: 0px;
}

.margin_licenciatura > p{
  margin: 0px;
}
/* textos - fin */

/* flexbox - inicio */

/* flexbox - fin */


@media only screen and (min-width:200px) and (max-width:550px){
  .margin_licenciatura{
    margin-bottom: 20px;
  }

  .centrar_movil{
    text-align: center;
  }

  /* textos - inicios */
  .d3_titulo_1_monserrat{
    font-size: 13px;
    font-family: 'Montserrat';
    line-height: 33px;
  }

  .d2_titulo_1{
    font-size: 30px;
  }

  .titulo_9{
    font-size: 30px !important;
  }

  .titulo_10{
    font-size: 13px;
  }
  .d3_licenciatura{
    font-size: 30px !important;
    margin-bottom: 0;
  }
  .d3_licenciatura_2{
    font-size: 30px;
    font-family: 'Caav';
    margin: 0px;
  }

  .d3_licenciatura_sub{
    font-size: 13px;
    line-height: 15px;
  }

  .d3_licenciatura_sub_black{
    font-size: 13px;
  }

  

  
  .texto_lic_9{
    font-size: 13px;
    text-align: left;
  }

  .texto_licenciatura_campo_trabajo_1{
    width: 315px;
    font-size: 13px;
  }
  .texto_licenciatura_campo_trabajo_2{
    width: 290px;
    font-size: 13px;
    margin-bottom: -22px;
  }
  .texto_licenciatura_campo_trabajo_3{
    width: 290px;
    font-size: 13px;
    margin-top: 0;
  }

  .texto_lic_1{
    font-size: 13px;
  }

  .texto_lic_3{
    font-size: 13px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .texto_lic_4{
    font-size: 13px;
    font-weight: normal;
  }
  .texto_lic_5{
    font-size: 13px;
    font-weight: normal;
    margin-top: 0;
  }
  .texto_lic_7{
    font-size: 13px;
    text-align: center;
  }
  .texto_lic_8{
    font-size: 13px;
  }
  /* textos - fin */

  /* flexbox - inicio */
  
  /* flexbox - fin */
  

  .invisible_movil_redes{
    display: none !important;
  }

  .invisible_escritorio_redes{
    display: flex !important;
  }

  .separar_imagen_footer{
    margin-top: 20px;

  }
}

@media only screen and (min-width:551px) and (max-width:850px){
  .margin_licenciatura{
    margin-bottom: 20px;
  }

  

  .centrar_movil{
    text-align: center;
  }


  /* textos - inicios */
  .titulo_9{
    font-size: 30px !important;
  }

  .d3_titulo_1_monserrat{
    font-size: 20px;
    font-family: 'Montserrat';
    line-height: 33px;
  }

  .d3_licenciatura_sub{
    font-size: 13px;
    line-height: 20px;
  }

  .d3_licenciatura_sub_black{
    font-size: 13px;
  }

  

  
  .texto_lic_9{
    font-size: 13px;
    text-align: left;
  }

  .texto_licenciatura_campo_trabajo_1{
    width: 100%;
    padding: 0px 70px;
    font-size: 13px;
  }
  .texto_licenciatura_campo_trabajo_2{
    width: 100%;
    padding: 0px 80px;
    font-size: 13px;
    margin-bottom: -22px;
  }
  .texto_licenciatura_campo_trabajo_3{
    width: 100%;
    padding: 0px 80px;
    font-size: 13px;
    margin-top: 0;
  }

  .texto_lic_1{
    font-size: 13px;
  }

  .texto_lic_3{
    font-size: 13px;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .texto_lic_4{
    font-size: 13px;
    font-weight: normal;
  }
  .texto_lic_5{
    font-size: 13px;
    font-weight: normal;
    margin-top: 0;
  }
  .texto_lic_7{
    font-size: 13px;
    text-align: center;
  }
  .texto_lic_8{
    font-size: 13px;
  }

  .d3_licenciatura_2{
    font-size: 30px;
    font-family: 'Caav';
    text-align: center;
    margin: 0px;
  }
  /* textos - fin */

  /* flexbox - inicio */
  
  /* flexbox - fin */

  .invisible_movil_redes{
    display: none !important;
  }

  .invisible_escritorio_redes{
    display: flex !important;
  }

  .separar_imagen_footer{
    margin-top: 20px;
  }
}

@media only screen and (min-width:851px) and  (max-width:1664px){
  

  .invisible_movil_redes{
    display: flex !important;
  }

  .invisible_escritorio_redes{
    display: none !important;
  }

  
}

@media only screen and (min-width:1665px) {
  
  
  .invisible_movil_redes{
    display: flex !important;
  }

  .invisible_escritorio_redes{
    display: none !important;
  }

  
}







/* nuevo css */

.s_margen > p{
  margin: 0px;
}

.puntos > li::before{
  content: url("./Images/Icon/56.png");
  background-position: center;
  background-repeat: no-repeat;
  margin-left: -10px;
  margin-top: -3px;
  padding-bottom: 5px;
  position: absolute;
}

/* titulos */
.encabezadosCaav{
  font-family: 'Caav', 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
  font-size: 30px;
  line-height: 30px;
}

.titulo_1_nv{
  font-family: 'Caav', 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
  font-size: 30px;
}

.titulo_4_nv{
  font-size: 20px;
}

.titulo_5_nv{
  font-size: 20px;
}

.titulo_fecha_nv{
  font-size: 42px;
  font-weight: bold;
  color: #fff;
}

.texto_s_margen > p {
  margin: 0px;
}
/* fin - titulos */

/* flexbox */
.flex_padre_1_nv{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex_padre_licenciatura{
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.flex_hijo_1_nv{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.flex_1_licenciatura{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
/* fin - flexbox */

/* contenedores */
.contenedor_effecto_1 img{
  width: 100%;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}

.texto_licenciatura_carrera{
  width: 553px;
  padding: 10px 20px;
}
/* fin - contenedores */

/* efectos */
.imagen_efecto_1{
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  width: 100%;
  overflow: hidden;
}
.imagen_efecto_1:hover img{
  transform: scale(1.1) ;
  transition: all 0.3s ease-in-out;
}

.imagen_efecto_2{
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  width: 100%;
  overflow: hidden;
}
.imagen_efecto_2:hover img{
  transform: scale(1.2) rotate(5deg);
  transition: all 0.3s ease-in-out;
}
/* fin - efectos */

/* botones */
.boton_1_nv{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0px;
  width: 200px;
  height: 35px;
  padding: 6px 27px;
  background-color: #A80938;
  border-radius: 50px;
  transition: all 0.5s ease-in-out;
}
.boton_1_nv p{
  font-weight: bold;
  font-size: 13px;
  color: white;
  margin: 0px;
}
.boton_1_nv:hover{
  box-shadow: 0px 0px 15px #A80938;
  transition: all 0.5s ease-in-out;
}

.boton_2_nv{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0px;
  width: 170px;
  height: 35px;
  padding: 6px 27px;
  background-color: #A80938;
  border-radius: 50px;
  transition: all 0.5s ease-in-out;
  border: none;
}
.boton_2_nv button{
  background: transparent;
  border: none;
}
.boton_2_nv p{
  font-weight: bold;
  font-size: 13px;
  color: white;
  margin: 0px;
}
.boton_2_nv:hover{
  box-shadow: 0px 0px 15px #A80938;
  transition: all 0.5s ease-in-out;
}

.boton_3_nv{
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0px;
  width: 190px;
  height: 35px;
  border: solid 1px #707070;
  background-color: #fff;
  border-radius: 50px;
  transition: all 0.5s ease-in-out;
}
.boton_3_nv:hover{
  box-shadow: 0px 0px 15px #707070;
  transition: all 0.5s ease-in-out;
}
.boton_3_nv p {
  text-align: center;
  color: black;
  transition: all 0.5s ease-in-out;
}
/* fin - botones */

.imagen_licenciatura{
  position: relative;
  z-index: -1;
  overflow: hidden;
}

.fondo_nuevo{
  background-image: url(./Images/escritorio/fondo.png);
  width: 100%;
  /* height: 100vh; */
  background-position: center;
  background-repeat: no-repeat;
}

@media only screen and (min-width:200px) and (max-width:550px){
  body{
    /* font-size: 12px; */
  }
  .texto_movil{
    font-size: 12px;
  }

  .container_chico_movil{
    padding: 0px 10%;
  }

  .encabezadosCaav{
    line-height: 22px;
  }

  .boton_4_nv{
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0px;
    width: 150px;
    height: 35px;
    background-color: #fff;
    border-radius: 50px;
    transition: all 0.5s ease-in-out;
  }
  .boton_4_nv:hover{
    box-shadow: 0px 0px 15px #707070;
    transition: all 0.5s ease-in-out;
  }
  .boton_4_nv p {
    text-align: center;
    color: black;
    transition: all 0.5s ease-in-out;
  }

  .invisible_nuevo{
    display: none;
  }

  .imagen_licenciatura{
    width: 100%;
  }

  .center_movil{
    text-align: center !important;
    width: 100%;
  }

  .texto_licenciatura_carrera{
    width: 355px;
  }

  /* flexbox */
  .flex_padre_1_nv{
    flex-wrap: wrap;
  }

  .flex_padre_licenciatura{
    width: 315px;
  }

  .flex_hijo_1_nv{
    width: 100%;
    align-items: center;
  }
  /* fin - flexbox */

  /* titulos */
  .encabezadosMonserrat{
    font-family: 'Montserrat', 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    font-size: 13px;
  }

  .titulo_2_nv{
    font-family: 'Montserrat', 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: black;
  }

  .titulo_3_nv{
    font-family: 'Montserrat', 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    font-size: 13px;
    color: black;
    font-weight: bold;
  }

  .titulo_frase{
    font-size: 13px;
    color: #707070;
  }

  .titulo_fecha_nv{
    font-size: 20px;
    font-weight: bold;
  }

  .titulo_5_nv{
    font-size: 13px;
  }
  /* fin - titulos */
}
@media only screen and (min-width:551px) and (max-width:980px){
  .boton_4_nv{
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0px;
    width: 190px;
    height: 35px;
    border: solid 1px #707070;
    background-color: #fff;
    border-radius: 50px;
    transition: all 0.5s ease-in-out;
  }
  .boton_4_nv:hover{
    box-shadow: 0px 0px 15px #707070;
    transition: all 0.5s ease-in-out;
  }
  .boton_4_nv p {
    text-align: center;
    color: black;
    transition: all 0.5s ease-in-out;
  }

  .invisible_nuevo{
    display: none;
  }
  
  .imagen_licenciatura{
    width: 100%;
  }

  /* flexbox */
  .flex_padre_licenciatura{
    width: 100%;
    justify-content: center;
  }

  .flex_hijo_1_nv{
    width: 50%;
  }
  /* fin - flexbox */

  .texto_licenciatura_carrera{
    width: 100%;
    padding: 10px 70px;
  }

  /* titulos */
  .encabezadosMonserrat{
    font-family: 'Montserrat', 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    font-size: 15px;
  }

  .titulo_2_nv{
    font-family: 'Montserrat', 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: black;
  }

  .titulo_3_nv{
    font-family: 'Montserrat', 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    font-size: 13px;
    color: black;
    font-weight: bold;
  }

  .titulo_frase{
    font-size: 15px;
    color: #707070;
  }

  .titulo_5_nv{
    font-size: 13px;
  }
  /* fin - titulos */
}
@media only screen and (min-width:981px) and (max-width:1664px){
  .boton_4_nv{
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0px;
    width: 190px;
    height: 35px;
    border: solid 1px #707070;
    background-color: #fff;
    border-radius: 50px;
    transition: all 0.5s ease-in-out;
  }
  .boton_4_nv:hover{
    box-shadow: 0px 0px 15px #707070;
    transition: all 0.5s ease-in-out;
  }
  .boton_4_nv p {
    text-align: center;
    color: black;
    transition: all 0.5s ease-in-out;
  }

  .imagen_licenciatura{
    height: 100%;
    right: 25%;
  }

  /* contenedores */
  .contenedor_xch{
    width: 50%;
  }
  .contenedor_chico{
    width: 60%;
  }
  .contenedor_grande{
    width: 90%;
  }
  /* fin - contenedores */

  /* flexbox */
  .flex_hijo_1_nv{
    width: 50%;
  }
  /* fin - flexbox */

  /* titulos */
  .encabezadosMonserrat{
    font-family: 'Montserrat', 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    font-size: 20px;
  }

  .titulo_2_nv{
    font-family: 'Montserrat', 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: black;
  }

  .titulo_3_nv{
    font-family: 'Montserrat', 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    font-size: 16px;
    color: black;
  }

  .titulo_frase{
    font-size: 20px;
    color: #707070;
  }
  /* fin - titulos */
}
@media only screen and (min-width:1665px){
  .imagen_licenciatura{
    height: 100%;
    right: 5%;
  }

  .boton_4_nv{
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0px;
    width: 190px;
    height: 35px;
    border: solid 1px #707070;
    background-color: #fff;
    border-radius: 50px;
    transition: all 0.5s ease-in-out;
  }
  .boton_4_nv:hover{
    box-shadow: 0px 0px 15px #707070;
    transition: all 0.5s ease-in-out;
  }
  .boton_4_nv p {
    text-align: center;
    color: black;
    transition: all 0.5s ease-in-out;
  }

  /* contenedores */
  .contenedor_xch{
    width: 50%;
  }
  .contenedor_chico{
    width: 60%;
  }
  .contenedor_grande{
    width: 90%;
  }
  /* fin - contenedores */

  /* flexbox */
  .flex_hijo_1_nv{
    width: 50%;
  }
  /* fin - flexbox */

  /* titulos */
  .encabezadosMonserrat{
    font-family: 'Montserrat', 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    font-size: 20px;
  }

  .titulo_2_nv{
    font-family: 'Montserrat', 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: black;
  }

  .titulo_3_nv{
    font-family: 'Montserrat', 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    font-size: 16px;
    color: black;
  }

  .titulo_frase{
    font-size: 20px;
    color: #707070;
  }
  /* fin - titulos */
}

/* fin - nuevo css */



/* 
@media only screen and (min-width:200px) and (max-width:550px){}
@media only screen and (min-width:551px) and (max-width:980px){}
@media only screen and (min-width:981px) and (max-width:1664px){}
@media only screen and (min-width:1665px){}
*/